LOGS_PATH='/var/log/waiters/errors.log'
REDIS_HOST=redis
REDIS_PORT=6379
PG_HOST='pg_server'
PG_PORT=5432
PG_USER=app
PG_PASSWORD=123qwe
PG_DATABASE=users
SUPERUSER='admin'
SUPERUSER_PASSWORD='admin1'
SECRET='7da9c735ec6e9e9c2a5a8731a39a3a71547c4c8f99d4057e1a5eab0243dc9938'
ACCESS_TTL=7200
REFRESH_TTL=86400
API_NAME='Auth API'
UIVERSION='3'
OPENAPI='3.0.2'
FLASK_APP='main.py'
API_IP='auth'
API_IP_PORT=8000
FLASK_TESTING=TRUE
YANDEX_TEST_TOKEN='AQAAAAAkPnL5AAfvyTcY698Cekjmi9om2oEqV3g'
YANDEX_TEST_TOKEN_EXP='31511688'
PROJECT_NAME='Movies'
REQUEST_TTL=60
